
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="font-size: 30px;font-weight: bold;color:grey" href="#">Blockchain Todo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
              <a class="nav-link" href="#!login">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#!test" >Test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">Abort</a>
            </li>
           
           
          </ul>
          
        </div>
      </nav>
      <div class="container-fluid">
<div style="padding:7% 15% 0% 24%;color:grey">
    <h1>Name : {{name}}</h1>
    <h1>Account : {{id}} </h1>
    <h1>Task-ID : {{Taskid}}</h1>
    <h1>Task : {{task}}</h1>
    <h1>Status : {{status}}</h1>
</div>