h4{
    /* color: red; */
    background-color: none;
}
.md-raised {
    /* color:green; */
     background-color: none;
}

.flex-gt-xs-50, .layout-row>.flex-gt-xs-50 {
 max-height: none;
 min-height:50px !important;
}

.md-fab 
{
    bottom:15px;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 25% !important;
    width: 85vw !important;
    max-width: 25% !important;
} 

md-backdrop.md-opaque.md-default-theme, md-backdrop.md-opaque {
    background:none; 
}
  body.md-default-theme, body, html.md-default-theme, html{
     background:none; 
  }

  .toolbarbutton{
    color:darkblue;
    font-size:18px;
  }
/* ==================== */

.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }

  .fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }
  